target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar


# Ignore variables for the pipeline
ci/secret-vars.yml

#Ignore VSCode/Eclipse files
.settings/
.classpath
.project


#Ignore IntelliJ files EXCEPT Code Styles and Shared Running Configurations

!.idea/

.idea/*
!/.idea/codeStyles/
!/.idea/runConfigurations/
!/.idea/copyright
!/.idea/scopes/

*.iml
*.iws

.env

# Ignore files needed to startup development environment
.datadog_api_key
developer-tools/vault-loader/vault-secrets.json


# Ignore the MkDocs Built Site
site/
# Ignore the default build directories for MkDocs CI Script
public/
.public/