<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright (c) 2019 Thales Group
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  ~
  -->

<configuration>
    <springProfile name="DEVELOPMENT">
        <logger name="com.thales" level="DEBUG"/>
    </springProfile>
    <springProfile name="PRODUCTION">
        <logger name="com.thales" level="INFO"/>
    </springProfile>
    <logger name="org.springframework" level="WARN"/>

    <define name="chaosIdentity" class="com.thales.chaos.logging.ChaosHostIdentityProvider"/>

    <appender name="Chaos" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"env":"${DEPLOYMENT_ENVIRONMENT}",
                "chaos-host" : "${chaosIdentity}"}
            </customFields>
        </encoder>
    </appender>

    <root level="OFF">
        <appender-ref ref="Chaos"/>
    </root>
    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Name>ALWAYS</Name>
        <Marker>ALWAYS</Marker>
        <OnMatch>ACCEPT</OnMatch>
    </turboFilter>
</configuration>
