<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="com.gemalto" level="DEBUG"/>
    <logger name="org.springframework" level="WARN"/>

    <appender name="Chaos" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"env":"${DEPLOYMENT_ENVIRONMENT}",
                "chaos-host" : "${HOSTNAME}"}</customFields>
        </encoder>
    </appender>

    <root level="OFF">
        <appender-ref ref="Chaos"/>
    </root>
    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Name>ALWAYS</Name>
        <Marker>ALWAYS</Marker>
        <OnMatch>ACCEPT</OnMatch>
    </turboFilter>
</configuration>
