<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework" level="OFF"/>
    <logger name="com.gemalto" level="OFF"/>
    <logger name="org.apache" level="OFF"/>
    <logger name="net.schmizz" level="OFF"/>

    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Name>ALWAYS</Name>
        <Marker>ALWAYS</Marker>
        <OnMatch>DENY</OnMatch>
    </turboFilter>

</configuration>
